<div class="p-6">
  <div style="display: flex; align-items: center; gap: 10px">
    <button (click)="createTeam()" class="btn">New Team</button>

    <mat-checkbox class="check-filter"
                  [(ngModel)]="onlymeCheck"
                  (change)="filterTeams()">
      Only my teams
    </mat-checkbox>
  </div>

  <ul>
    <li *ngFor="let t of filteredTeams" class="border p-2 my-2 rounded">

      <div class="flex justify-between">
        <div (click)="openTeamDetail(t)" style="width: 100%;">
          <h3 class="font-medium">{{ t.name }}</h3>
          <p class="text-sm text-gray-600">{{ t.description }}</p>

          <div class="team-meta">
            <span class="badge">
              👥 {{ t.memberCount }} members
            </span>

            <span class="badge mine" *ngIf="t.isMine">
              ⭐ You’re in this team
            </span>
          </div>
        </div>

        <div class="flex gap-2">
          <button (click)="editTeam(t)" class="btn-secondary">Edit</button>
          <button (click)="deleteTeam(t)" class="btn-danger">Delete</button>
        </div>
      </div>

    </li>
  </ul>
</div>

<app-loading [visible]="loading"></app-loading>
