@use './styles/theme-dark';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dark-dialog .mat-mdc-dialog-container {
  background: #1e1e1e !important;
  color: #e0e0e0 !important;
}

.mat-mdc-card-title {
  color: #e0e0e0 !important;
  font-weight: 600 !important;
  font-size: 1.2rem !important;
  margin-bottom: 12px !important;
  padding: 6px 0 0 12px !important;
}
